# Global default owners for the entire repository
* @votre-organisation/@aldi-octet @mahutonbks @pupuceee @calypso27

# Node.js application and tests
/src/ @aldi-octet 
/test/  @mahutonbks
package.json @pupuceee 
package-lock.json @calypso27

# Docker configuration and container CI
Dockerfile @aldi-octet 
.dockerignore @mahutonbks 
.github/workflows/docker.yml @pupuceee 

# Terraform configuration and infrastructure CI
/*.tf @calypso27
/*.tfvars @aldi_octet
.github/workflows/terraform.yml @mahutonbks

# GitHub Workflows and repository templates
.github/ @pupuceee
.github/workflows/node-ci.yml @calypso27